<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- <link rel="stylesheet" href="./assets/styles/styles.css"> -->
  <link rel="stylesheet" href="./assets/styles/index.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
  <title>Home</title>
</head>

<body class="">
  <!--NAVIGATION-->
  <nav class="navbar navbar-expand-lg" style="background-color: #000096;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="./assets/img/logo-brand.png" alt="" /></a>
      <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler"
        aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarToggler">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active text-light" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="/add-project">Add Project</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="/testimonials">Testimonials</a>
          </li>
        </ul>
        <a href="./contact-form" class="btn btn-outline-light" type="submit">Contact</a>
      </div>
    </div>
  </nav>
  <!--NAVIGATION-->
  <div class="masthead d-flex" style="background-image: url('./assets/img/background.jpg');">

    <div class="container" style="margin: 6% auto;">
      <div class="row border rounded-3 bg-light shadow" style="padding: 2%;">
        <div class="col-lg-8">
          <div class="intro">
            <h1>Hi, Welcome to my hut!</h1>
            <p>Cupcake ipsum dolor. Sit amet marshmallow topping cheesecake
              muffin. Halvah croissant candy canes bonbon candy. Apple pie
              jelly beans topping carrot cake danish tart cake cheesecake.
              Muffin danish chocolate soufflé pastry icing bonbon oat cake.
              Powder cake jujubes oat cake. Lemon drops tootsie roll
              marshmallow halvah carrot cake. Chiffon cake, and sponge cake
              just next to a croissant bake. Lorem ipsum dolor sit amet
              consectetur adipisicing elit. Nam qui eius, debitis voluptas
              quam sed minima veniam magnam aliquam consectetur quis, atque
              ullam dolores porro placeat necessitatibus, aperiam sequi
              adipisci.</p>
            <div class="d-flex justify-content-between mb-4 mt-4">
              <button class="btn btn-danger col-lg-2" style="height: min-content;">contact</button>
              <p class="btn col-lg-3" style="height: min-content;">Download CV
                <a href="blank"><i class="fa-solid fa-download fa-xl" style="color: rgb(0, 0, 150);"></i></a>
              </p>
            </div>
          </div>
          <div class="text-center col-12" style="font-size: 2.2rem;">
            <a href="https://instagram.com/harimaulana11"><i class="fa-brands fa-instagram"
                style="color: #000096; margin: 3%;"></i></a>
            <a href="https://twitter.com/hari_maulanaa"><i class="fa-brands fa-x-twitter"
                style="color: #000096; margin: 3%"></i></a>
            <a href="https://linkedin.com/in/hari-maulana"><i class="fa-brands fa-linkedin"
                style="color: #000096; margin: 3%"></i></a>
            <a href="https://github.com/hari-maulana"><i class="fa-brands fa-github"
                style="color: #000096; margin: 3%"></i></a>
          </div>
        </div>
        <div class="col-lg-4 d-flex justify-content-lg-end justify-content-center" style="background-color: none;">
          <!-- lg disini bisa  dipakai dimanapun -->
          <div class="card" style="width: fit-content; text-align: center;">
            <img src="./assets/img/photo.jpg" alt="profile picture" width="280px" />
            <h2>Hari Maulana</h2>
            <p>Fullstack Developer</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--LIST OF PROJECT-->
  <div id="projects" class="bg-light">
    <div class="d-flex flex-wrap justify-content-around">
      <!--REDIRECTED PROJECT-->
      {{#each data}}
      {{!-- <li>{{this.projectName}}: {{this.inputDescription}}</li> --}}
      <div id="project" class="card col-lg-3" style="padding: 16px; width:400px; height: 640px; margin: 2%;">
        <img style="height: 50%; width: 100%; object-fit: cover;"
          src="https://i0.wp.com/zenledger.io/wp-content/uploads/2022/03/best-crypto-app.jpg" />
        <div class="project-title">
          <h2><a href="/project/{{this.id}}" style="text-decoration: none;">{{this.projectName}}</a></h2>
          <!--<p id="startDate">{{this.startDate}}</p>
          <p id="endDate">{{this.endDate}}</p>
          -->
          <p id="duration">{{this.inDaysDuration}}</p>
        </div>
        <p>{{this.inputDescription}} dummy dummy dummy.</p>
        <div class="mt-auto">
          <div class="mb-3" style="font-size: 2rem;">
            <i class="fa-brands fa-node-js" style="color: rgb(0, 0, 150);"></i>
            <i class="fa-brands fa-js" style="color: rgb(0, 0, 150);"></i>
            <i class="fa-brands fa-react" style="color: rgb(0, 0, 150);"></i>
          </div>
          <div class="d-flex justify-content-between">
            <a class="btn btn-danger col-5" href="/update-project/{{this.id}}">Edit</a>
            <form class="col-5" action="/delete-project/{{this.id}}" method="POST" style="background-color: none; height:min-content;
                padding: 0; margin: 0;">
              <button class="btn btn-danger col-12" type="submit">Delete</button>
            </form>
          </div>
        </div>
      </div>

      {{/each}}

      <!--DUMMY PROJECT-->
      <div id="project" class="card col-lg-3" style="padding: 16px; width: 400px; height: 640px; margin: 2%;">
        <img style="height: 50%; width: 100%; object-fit: cover;"
          src=" https://i.pinimg.com/564x/a0/df/6d/a0df6d573845ba42809e325f9ac323a3.jpg" />
        <div class="project-title">
          <h2><a href="#" style="text-decoration: none;">AI Task Integrated App</a></h2>
          <p >duration: 2 month(s)</p>
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi
          exercitationem dolore voluptates?</p>
        <div class="mt-auto">
          <div class="mb-3" style="font-size: 2rem;">
            <i class="fa-brands fa-node-js" style="color: rgb(0, 0, 150);"></i>
            <i class="fa-brands fa-js" style="color: rgb(0, 0, 150);"></i>
            <i class="fa-brands fa-react" style="color: rgb(0, 0, 150);"></i>
          </div>
          <div class="d-flex justify-content-between">
            <button class="btn btn-danger col-5">Edit</button>
            <button class="btn btn-danger col-5">Delete</button>
          </div>
        </div>
      </div>

      <div id="project" class="card card col-lg-3" style="padding: 16px; width: 400px; height: 640px; margin: 2%;">
        <img style="height: 50%; width: 100%; object-fit: cover;"
          src="https://i.pinimg.com/564x/9b/91/bc/9b91bceb0cded21f8c018152c50e3b58.jpg" />
        <div class="project-title">
          <h2><a href="#" style="text-decoration: none;">Crypto Payment</a></h2>
          <p>duration: 5 month(s)</p>
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi
          exercitationem dolore voluptates?</p>
        <div class="mt-auto">
          <div class="mb-3" style="font-size: 2rem;">
            <i class="fa-brands fa-node-js" style="color: rgb(0, 0, 150);"></i>
            <i class="fa-brands fa-js" style="color: rgb(0, 0, 150);"></i>
            <i class="fa-brands fa-react" style="color: rgb(0, 0, 150);"></i>
          </div>
          <div class="d-flex justify-content-between">
            <button class="btn btn-danger col-5">Edit</button>
            <button class="btn btn-danger col-5">Delete</button>
          </div>
        </div>
      </div>

      <div id="project" class="card card col-lg-3" style="padding: 16px; width: 400px; height: 640px; margin: 2%;">
        <img style="height: 50%; width: 100%; object-fit: cover;"
          src="https://i.pinimg.com/564x/cb/c7/6a/cbc76a054c9599cc13d5d69910029a15.jpg" />
        <div class="project-title">
          <h2><a href="#" style="text-decoration: none;">Dumbways Mobile App</a></h2>
          <p>duration: 2 month(s)</p>
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi
          exercitationem dolore voluptates?</p>
        <div class="mt-auto">
          <div class="mb-3" style="font-size: 2rem;">
            <i class="fa-brands fa-node-js" style="color: rgb(0, 0, 150);"></i>
            <i class="fa-brands fa-js" style="color: rgb(0, 0, 150);"></i>
            <i class="fa-brands fa-react" style="color: rgb(0, 0, 150);"></i>
          </div>
          <div class="d-flex justify-content-between">
            <button class="btn btn-danger col-5">Edit</button>
            <button class="btn btn-danger col-5">Delete</button>
          </div>
        </div>
      </div>

      <!--SUBMITTED PROJECT-->

    </div>

    <!--SUBMITTED PROJECT-->

  </div>
  <script>
    var timeElements = document.querySelectorAll('#startDate, #endDate')

    timeElements.forEach(function (timeElements) {
      var origin = timeElements.textContent.trim()
      var date = new Date(origin)
      var option = { weekday: 'long', day: 'numeric', month: 'long', year: 'numeric' }
      var formateDate = date.toLocaleString('en-ID', option)
      timeElements.textContent = formateDate
    })

    var durationElements = document.querySelectorAll('#duration');
    durationElements.forEach(function (durationElement) {
      var durationValue = parseInt(durationElement.textContent.trim(), 10); // agar membuat jadi integer yang berbasis desimal

      var inWeeks = Math.floor(durationValue / 7);
      var inMonth = Math.floor(durationValue / 30);

      console.log(inWeeks)
      console.log(inMonth)



      if (durationValue >= 30) {
        durationElement.textContent = `${inMonth} month(s)`;
      } else if (durationValue >= 7) {
        durationElement.textContent = `${inWeeks} week(s)`;
      } else {
        durationElement.textContent = `${durationValue} day(s)`
      }
    });


  </script>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/46c9a62c65.js" crossorigin="anonymous"></script>
</body>

</html>